<header id="top-header" class="flex justify-between items-center pb-8">
  <h1 class="siteName text4xl md:text-6xl font-bold">
    <a href="/" title="Return to home page">CSE Motors</a>
  </h1>
  <div id="tools" class="uppercase font-semibold">
    <a title="Click to log in" href="/account/login">My Account</a>
  </div>
</header>
