<nav class="bg-slate-900 py-4 text-xl">
  <ul class="flex text-white justify-center items-center">
    <li class="flex-1 text-center">Home</li>
    <li class="flex-1 text-center">Custom</li>
    <li class="flex-1 text-center">Sedan</li>
    <li class="flex-1 text-center">SUV</li>
    <li class="flex-1 text-center">Truck</li>
  </ul>
</nav>
