<h2 class="text-2xl md:text-5xl font-bold py-8">Welcome to CSE Motors!</h2>
<%- messages() %>
<div
  class="bg-[url('/images/vehicles/delorean-tn.jpg')] md:bg-[url('/images/vehicles/delorean.jpg')] bg-contain bg-center bg-no-repeat h-[300px] md:h-[500px] flex items-center"
>
  <div
    class="bg-gray-100 opacity-80 text-[#009EBD] font-semibold ml-8 md:ml-24"
  >
    <h3 class="font-extrabold text-2xl md:text-5xl">DMC Deloran</h3>
    <h4 class="text-xl md:text-4xl">3 Cup holders</h4>
    <h4 class="text-xl md:text-4xl">Superman doors</h4>
    <h4 class="text-xl md:text-4xl">Fuzzy dice!</h4>
    <button class="bg-[#009EBD] text-black p-4 mt-8 w-[90%] md:text-3xl">
      Own Today
    </button>
  </div>
</div>
<div class="flex flex-col md:flex-row w-full gap-8 mb-8">
  <div class="flex-1">
    <h3 class="text-2xl md:text-5xl font-bold py-6">Delorean Upgrades</h3>
    <div class="grid grid-cols-2 gap-4 justify-items-center">
      <div
        class="w-full grid justify-items-center items-center bg-[#009EBD] h-[150px]"
      >
        <img
          src="/images/upgrades/flux-cap.png"
          alt="photo of Flux Capacitor"
        />
        <p>Flux Capacitor</p>
      </div>
      <div
        class="w-full grid justify-items-center items-center bg-[#009EBD] h-[150px]"
      >
        <img src="/images/upgrades/flame.jpg" alt="photo of flame decals" />
        <p>Flame Decals</p>
      </div>
      <div
        class="w-full grid justify-items-center items-center bg-[#009EBD] h-[150px]"
      >
        <img
          src="/images/upgrades/bumper_sticker.jpg"
          alt="photo bumper stickers"
        />
        <p>Bumper Stickers</p>
      </div>
      <div
        class="w-full grid justify-items-center items-center bg-[#009EBD] h-[150px]"
      >
        <img src="/images/upgrades/hub-cap.jpg" alt="photo of hub caps" />
        <p>Hub Caps</p>
      </div>
    </div>
  </div>
  <div class="flex-1">
    <h3 class="text-2xl md:text-5xl font-bold py-6">DMC Delorean Reviews</h3>
    <ul class="list-disc px-4 text-xl">
      <li class="pb-8">"So fast it's almost like traveling in time." (4/5)</li>
      <li class="pb-8">"Coolest ride on the road." (4/5)</li>
      <li class="pb-8">"I'm feeling McFly! (5/5)</li>
      <li class="pb-8">"The most futuristic ride of our day." (4.5/5)</li>
      <li class="pb-8">"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>
</div>
