<% if (title) { %>
<h1 class="class-heading"><%= title %></h1>
<%- messages() %>
<ul class="management-links">
  <li><a href="/inv/classification">Add New Classification</a></li>
  <li><a href="/inv/inventory">Add New Vehicle</a></li>
</ul>
<% } else { res.redirect('/') } %>
